body {
    background: #0b0f19;
    color: #e4f0fb;
    font-family: "Trebuchet MS", sans-serif;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: #57e389;
    text-shadow: 0 0 8px #39ff14;
}

a {
    color: #57e389;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #79ffbd;
}

.card-personaje {
    background: #141a26;
    border: 2px solid #57e389;
    padding: 15px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 20px rgba(87, 227, 137, 0.3);
}

.card-personaje img {
    border-radius: 10px;
    width: 250px;
    margin-bottom: 10px;
}

.info-list {
    list-style: none;
    padding-left: 0;
}
.info-list li {
    padding: 5px 0;
}

.btn-volver {
    display: inline-block;
    margin-top: 20px;
    background: #57e389;
    padding: 10px 18px;
    color: #0b0f19 !important;
    border-radius: 8px;
    font-weight: bold;
}
.btn-volver:hover {
    background: #79ffbd;
}

.grid-chars {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.char-card {
    background: #1a2233;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #57e389;
}
.char-card img {
    width: 120px;
    border-radius: 10px;
}
